.searchbar {
  width: 90%;
  max-width: 600px;
  input {
    box-shadow: none;
  }
}

.hhsRSK > .wrapper {
  z-index: 99999;
}
.hhsRSK > .wrapper > .sc-bwzfXH {
  color: $light-color;

  li {
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
}
