@font-face {
  font-family: "Titan One";
  src: url("../fonts/TitanOne-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Signifika Negative";
  src: url("../fonts/SignikaNegative-Bold.ttf") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("woff2");
}
@import "./partials/custom";
@import "~bootstrap/scss/bootstrap";
@import "./partials/globals";
@import "./partials/layout/navigation";
@import "./partials/layout/footer";
@import "./partials/layout/hero";
@import "./partials/layout/buttons";
@import "./partials/home/home";
@import "./partials/layout/searchBar";
@import "./partials/inspiration/inspiration";
@import "./partials/home/accommodationOverview";
@import "./partials/accommodations/accommodation";
@import "./partials/accommodations/filters";
@import "./partials/accommodations/details";
@import "./partials/booking/bookingForm";
@import "./partials/booking/booking";
@import "./partials/contact/contact";
@import "./partials/layout/messages";
@import "./partials/admin/admin";
@import "./partials/admin/propertyForm";
@import "./partials/admin/enquiriesAndMessages";
