@font-face {
  font-family: "Titan One";
  src: url("../fonts/TitanOne-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Signifika Negative";
  src: url("../fonts/SignikaNegative-Bold.ttf") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("woff2");
}
@import "./partials/custom";
@import "~bootstrap/scss/bootstrap";
@import "./partials/globals";
@import "./partials/navigation";
@import "./partials/footer";
@import "./partials/hero";
@import "./partials/buttons";
@import "./partials/home";
@import "./partials/searchBar";
@import "./partials/inspiration";
@import "./partials/accommodationOverview";

// * {
//   outline: 1px solid #f00 !important;
// }
.alert {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}
