//LOGIN

.login__form {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;

  input {
    width: 300px;
  }
}
.admin__login__message {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
}

// ADMIN NAV & DASHBOARD

.adminNav__container {
  background: #fff;
}

.adminNav__container__div {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  @media (min-width: 768px) {
    text-align: center;
  }
  .nav-link .active {
    font-weight: bold;
  }

  a {
    font-size: 0.9em;
    color: $text-color;
    font-weight: 400;
    padding: 0.5em;
    min-width: 150px;
    @media (min-width: 540px) {
      min-width: 0;
    }

    i {
      color: $primary-color;
      font-size: 1.1em;
    }
  }
}
.adminNav__container__div a.active {
  color: $primary-color;
  font-weight: 500;
}
