.messages__accordion,
.bookings__accordion {
  max-width: 650px;
  margin: 0 auto;
  .accordion__header--date {
    color: $secondary-color;
    font-size: 0.75em;
    text-align: right;
  }
  .accordion-button {
    text-align: center;
    height: 50px;
    i {
      font-size: 1.5em;
      color: $primary-color;
    }
    p {
      margin: 0.5em;
    }
  }
  .accordion-body {
    padding: 2em;
    font-weight: 300;

    .accordion__item--bottomBorder {
      border-bottom: 2px solid $body-bgcolor;
    }
  }

  label {
    margin-right: 1em;
    color: $primary-color;
    font-weight: 400;
  }
}
