.accommodation__container {
  .hero__text {
    top: 35%;
  }
}

.accommodation__card {
  width: 270px;
  border: none;
  @media (min-width: 768px) {
    width: 100%;
    max-width: 700px;
  }

  .card__text--location {
    color: $secondary-color;
  }
  .card__text--rate {
    font-weight: bold;
    color: $accent-color;
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 0;
    @media (min-width: 768px) {
      top: 0;
    }
  }
  .h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: $text-color;
  }

  .card-img-top {
    height: 220px;
    width: 270px;
  }
}
