.accommodation__card {
  width: 250px;
  margin: 2rem auto;
  color: $text-color;
  border: none;
  @media (min-width: 768px) {
    width: 80%;

    .card-body {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @media (min-width: 992px) {
      width: 100%;
      max-width: 700px;
    }
  }

  .card__text--location {
    color: $secondary-color;
  }
  .card__text--rate {
    font-weight: bold;
  }
  .h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

  .card-img-top {
    height: 200px;
    width: 250px;
  }
}
