.booking__form {
  background-color: #fff;
  padding: 1em;
  input {
    display: block;
    width: 100%;
  }
  .booking__form__dates {
    @media (min-width: 768px) {
      width: 250px;
    }
  }

  .booking__form__select {
    width: 50%;
    select {
      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }
}

.formError {
  color: red;
}

.booking__form__alert {
  border: none;
  a {
    color: $primary-color;
    font-weight: bold;
    &:hover {
      opacity: 70%;
    }
  }
}
.booking__message {
  background-color: #fff;
  padding: 1em 0;
}
.booking__message__button {
  width: 190px;
}
