// COLORS

$body-bgcolor: #f6f8f9;
$primary-color: #02a6b5;
$secondary-color: #a6adb4;
$accent-color: #ffc96c;
$cta-color: #ff8a00;
$text-color: #343638;
$light-color: #cbd0d3;
$dark-color: #202124;
$red: #dc3545;
$yellow: #ffc107;
$warning: $yellow;
$danger: $red;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "success": $cta-color,
  "info": $accent-color,
  "light": $light-color,
  "dark": $dark-color,
  "danger": $danger,
  "warning": $warning,
  "white": #fff,
);

// BODY STYLES

$body-bg: $body-bgcolor;
$body-color: $text-color;
$text-font: "Open Sans", sans-serif;

// BUTTONS

$input-btn-font-family: "Open Sans", sans-serif;
$btn-font-weight: bold;

// LINKS

$link-color: #fff !default;
$link-decoration: none;

// HEADINGS

$headings-font-family: "Signifika Negative", serif;
$headings-color: $primary-color;

// NAV

$nav-link-color: #fff;

$navbar-light-color: rgba(#fff, 0.85);
$navbar-light-hover-color: #fff;
$navbar-light-active-color: #fff;

// INPUT

$input-focus-border-color: tint-color($accent-color, 50%);

$input-focus-box-shadow: $accent-color;

$input-bg: #fff;

$input-focus-border-color: $accent-color;

$input-focus-box-shadow: $accent-color;

$form-check-input-border: 2px solid $accent-color;
$form-check-input-focus-border: $accent-color;
$form-check-input-focus-box-shadow: $accent-color;

$form-check-input-checked-color: #fff;
$form-check-input-checked-bg-color: $accent-color;
$form-check-input-checked-border-color: $accent-color;

$input-btn-focus-width: 0.25rem !default;
$input-focus-width: $input-btn-focus-width !default;
$form-select-focus-width: $input-focus-width !default;
$form-select-focus-box-shadow: 0 0 0 $form-select-focus-width $accent-color;
$form-select-focus-border-color: darken($accent-color, 10%);
