html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

.alert {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}

.accordion-button {
  background-color: #fff;
  font-family: "Open Sans";
  height: 110px;
  padding: 0.5rem;
  &:focus {
    box-shadow: none;
  }
}
.accordion-button:not(.collapsed) {
  color: $text-color;
  background-color: #fff;
  box-shadow: none;
}
.accordion-body {
  background-color: #fff;
}

.bold {
  font-weight: bold;
}
input,
select,
textarea {
  box-shadow: 0 0 5px lighten($secondary-color, 20%);
}

input.form-check-input {
  box-shadow: none;
}
.div--bgWhite {
  background: #fff;
}
