.hero__image {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: $primary-color;
  @media (min-width: 768px) {
    height: 370px;
  }
  @media (min-width: 992px) {
    height: 450px;
  }
}
.hero__text {
  position: absolute;
  width: 100%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: 768px) {
    top: 50%;
  }
  @media (min-width: 992px) {
    top: 40%;
  }
}
