.cardgroup a {
  .card {
    width: 300px;
    border: none;

    &:focus,
    &:active {
      outline: 3px solid $accent-color;
    }
  }
  .cardgroup__overview {
    height: 100px;
  }
  h5 {
    font-size: 1rem;
    color: $primary-color;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
  p,
  li {
    color: $text-color;
    font-weight: 300;
  }
}

.cardgroup__card--wide {
  border: none;
  width: 90%;
  @media (min-width: 768px) {
    width: 500px;
  }
}
