.cardgroup a {
  .card {
    width: 300px;
    border: 2px solid $light;
    border-radius: 0;

    &:hover {
      box-shadow: 0 0 5px darken($light, 10%);
      border: none;
    }

    &:focus,
    &:active {
      outline: 3px solid $accent-color;
    }
    .card-img-top {
      border-radius: 0;
    }
  }
  .cardgroup__overview {
    height: 100px;
  }
  h5 {
    font-size: 1rem;
    color: $primary-color;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
  p,
  li {
    color: $text-color;
    font-weight: 300;
  }
}

.cardgroup__card--wide {
  border: none;
  width: 90%;
  @media (min-width: 768px) {
    width: 500px;
  }
}
